*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
 
  background-size: cover;
  box-sizing: border-box;
  font-family: sans-serif;
}
.logo {
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.678);
}
.menu-bar {
  background-color: rgb(0, 100, 0);
  text-align: center;
  padding: 0 0 0 0;
  margin-top: -5px;
  position: sticky;
  top: 0;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li {
  margin: 1px;
  padding: 10px;
  font-weight: bold;
}
.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}
.active, .menu-bar ul li:hover {
  background-color: #2bad2b;
  border-radius: 5px;
}
.sub-menu-1 {
  display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background-color: rgba(0, 100, 0, 0.589);;
  margin-top: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dashed;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}
.fa-angle-right {
  float: right;
}
.sub-menu-2 {
  display: none;
  margin-left: 40px; 
}
.sub-menu-2 ul {
  margin-top: 5px;
}
.hover-me:hover .sub-menu-2 {
  position: absolute;
  display: block;
  margin-top: -33px;
  margin-left: 140px;
  background-color: rgba(1, 17, 1, 0.589);
}
.login {
  background-color: rgba(255, 0, 0, 0.685);
  border-radius: 5px;
}

.checkbtn {
  display: none;
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 42px;
  cursor: pointer;
  margin-right: 30px;
}
#check {
  display: none;
}

#banner img {
  width: 100%;
}